header {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    margin-bottom: 2rem;
    .headerLeft {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
    }
    .headerRight {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
    }

    @media (max-width: 866px) {
        .headerLeft {
            flex-direction: row-reverse;
        }
    }
}