header {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    margin-bottom: 2rem;

    .headerLeft {
        display: flex;
        align-items: flex-end;
        gap: 2rem;

        .hamburger {
            display: none;
        }
    }

    .headerRight {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
    }

    
    @media (max-width:866px) {
        padding: 1.5rem;
        height: 4rem;
        margin-bottom: 0;
        .headerLeft {
            flex-direction: row-reverse;
            .hamburger {
                display: block;
                cursor: pointer;
            }
        }
        .headerRight {
            gap: 1rem;
            align-items: center;
        }
    }
}
