.costContainer {
    .price {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0;
    }

    @media (max-width: 866px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }
}