.imageDisplayContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;

    .mobileArrows {
        display: none;
    }

    .large {
        width: 70%;
        height: 80%;
        border-radius: 1rem;
        cursor: zoom-in;
    }

    .thumbnail {
        display: flex;
        gap: 2rem;
        width: 70%;
        height: 20%;

        .product {
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
                border: 2px solid hsl(26, 100%, 55%);
            }

        }

        .active {
            opacity: 0.5;
            border: 2px solid hsl(26, 100%, 55%);
            border-radius: 10px;
        }
    }

    @media (max-width: 866px) {
        width: 100vw;
        padding: 0;
        justify-content: flex-start;
        height: 37vh;
        position: relative;
        .thumbnail {
            display: none;
        }

        .large {
            width: 100vw;
            border-radius: 0;
            height: 100%;
        }

        .mobileArrows {
            display: flex;
            justify-content: space-between;
            position:absolute;
            top: 50%;
            width: 100%;
            padding: 0 .5rem;
            .arrowMobileContainer {
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                cursor: pointer;
            }
        }
    }
}